body.dark {
  --bg: #1b1f23;
  --color: #fff;
  --border: #2b2f33;

  .img-light {
    display: none !important;
  }

  .img-dark {
    display: inline-block !important;
  }

  .theme-toggler {
    .icon {
      left: 14px;
    }
    .moon {
      display: block;
    }
    .sun {
      display: none;
    }
  }

  .header {
    border-bottom: 1px solid var(--border);
  }

  .has-border-bottom {
    border-color: #2b2f33;
  }
  .has-text-grey-light {
    color: #2b2f33 !important;
  }
  .navbar-menu .navbar-link,
  .navbar-menu .navbar-item {
    color: #fff;
  }
  .navbar-menu .navbar-link:not(.is-arrowless)::after {
    border-left-color: #fff;
    border-bottom-color: #fff;
  }
  .navbar-menu .navbar-dropdown {
    box-shadow: none;
    background: #17191c;
  }
  .has-background-light {
    background: #262a2d !important;
  }

  .main a {
    color: #1f98ff;
  }
  a.link-animate:before,
  .links-animate a:before {
    background-color: #1f98ff;
  }

  .has-background-white {
    background: #1b1f23 !important;
  }
  .footer {
    border-top: 1px solid #1b1f23;
    color: hsla(0, 0%, 100%, 0.7);
  }
  .footer .links .item a {
    color: #fff;
    &:hover {
      color: $secondaryColor;
    }
  }

  .footer .links .item.footer-link a {
    color: rgba(255, 255, 255, 0.6);
    &:hover {
      color: $secondaryColor;
    }
  }

  .footer .more {
    .has-text-grey-light {
      color: hsla(0, 0%, 100%, 0.7) !important;
    }
    a {
      color: hsla(0, 0%, 100%, 0.7);
      &:hover {
        color: #1f98ff;
      }
    }
  }
  .footer .more .social-links a.button {
    color: #1b1f23;
  }
  .navbar-social a.button {
    color: white;
    background-color: transparent;
    &:hover {
      color: $secondaryColor;
    }
  }
  .button.is-black {
    background: #fff;
  }
  .button.is-spring {
    border-color: #fff;
    color: #fff;
    &::before {
      background-color: #fff;
    }
    &:hover {
      color: #1b1f23;
    }
  }
  .theme-toggler {
    background-color: #41464b;
    .icon {
      background-color: #fff;
      color: #1b1f23;
    }
  }
  .logo .st2 {
    fill: #fff;
  }

  .has-big-border-bottom,
  .has-big-border-top {
    border-color: #2b2f33;
  }
  .img-invert {
    filter: invert(1);
  }
  .content pre {
    background: #1b1f23;
    code {
      text-shadow: none;
    }
  }
  .content code {
    background: rgba(255, 255, 255, 0.05);
  }
  strong {
    color: #fff;
  }
  a.box.is-special:hover {
    box-shadow: none;
  }
  .button.is-white {
    background: #1b1f23;
    &:hover {
      color: #fff;
    }
  }
  .table {
    background: #1b1f23;
    color: #fff;
  }
  .table td,
  .table th,
  .project .rows-guides .item,
  .project .samples article {
    border-color: #2b2f33;
  }
  .content table thead td,
  .content table tbody td,
  .content table thead th {
    color: #fff;
    border-color: #2b2f33;
  }
  .table thead td,
  .table thead th {
    color: #fff;
  }
  .has-bigest-border-light {
    border-color: #2b2f33;
  }
  .box {
    background-color: #1b1f23;
    color: #fff;
  }
  .navbar-mobile {
    background: #1b1f23;
    border-color: #2b2f33;
  }
  .navbar-mobile .navbar-burger {
    color: #fff;
  }
  .menu-list li ul {
    border-color: #2b2f33;
  }
  .hljs {
    .hljs-tag {
      color: rgba(255, 255, 255, 0.4);
    }
    .hljs-string {
      color: #1f98ff;
    }
  }
  .markdown blockquote {
    background-color: #1b1f23;
    color: white;
    p {
      color: white;
    }
  }
  .markdown blockquote:after {
    background-color: #1b1f23;
  }

  .icon-img {
  }

  .calendar-releases .timeline .releases .inactive {
    background: #2b2f33;
    color: rgba(255, 255, 255, 0.8);
  }
  .calendar-releases .timeline .axis .year .label {
    color: rgba(255, 255, 255, 0.8);
  }
  .calendar-releases .timeline .releases .plop-migrate.cropped::after {
    background: linear-gradient(90deg, #2b2f33 0%, #ffe88e 100%);
  }
  .calendar-releases .timeline .releases .plop-active.cropped::after {
    background: linear-gradient(90deg, #2b2f33 0%, #99e67d 100%);
  }
}
