.home {
  .banner {
    background: url(/img/banner.svg) no-repeat center;
    background-size: contain;
    .logo {
      max-width: 150px;
    }
    .banner-content {
      max-width: 1000px;
      margin: 0 auto;
      line-height: 2rem;
    }
  }
  .features {
    .feature {
      opacity: 0;
    }
    &.visible {
      .feature {
        animation: riseUp 0.5s forwards ease, fadeIn 0.7s forwards ease;
      }
    }
  }
}
