.home {
  .hero-home {
    position: relative;
    overflow: hidden;
    height: 400px;
    h1 {
      font-size: 3.8rem;
      line-height: 3.6rem;
      margin-top: 100px;
    }
    .word-wrapper {
      overflow: hidden;
      height: 63px;
      line-height: 1.05em;
      position: relative;

      span {
        position: relative;
        display: inline-block;
        transition: all 0.1s cubic-bezier(0.65, 0, 0.21, 1.42) 0s;
        will-change: transform;
      }
      div {
        opacity: 1;
      }
      div:first-child {
        opacity: 1;
      }
      div {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }
      div:nth-child(1) span.up-0,
      div:nth-child(2) span.up-1,
      div:nth-child(3) span.up-2,
      div:nth-child(4) span.up-3,
      div:nth-child(5) span.up-4 {
        transform: translateY(0%);
      }
      div:nth-child(1) span.up-1,
      div:nth-child(2) span.up-2,
      div:nth-child(3) span.up-3,
      div:nth-child(4) span.up-4,
      div:nth-child(5) span.up-0 {
        transform: translateY(-120%);
      }
      div:nth-child(1) span.up-2,
      div:nth-child(2) span.up-3,
      div:nth-child(3) span.up-4,
      div:nth-child(4) span.up-0,
      div:nth-child(5) span.up-1 {
        opacity: 0 !important;
        transform: translateY(-120%);
      }
      div:nth-child(1) span.up-3,
      div:nth-child(2) span.up-4,
      div:nth-child(3) span.up-0,
      div:nth-child(4) span.up-1,
      div:nth-child(5) span.up-2 {
        transform: translateY(120%);
        opacity: 0 !important;
      }
      div:nth-child(1) span.up-4,
      div:nth-child(2) span.up-0,
      div:nth-child(3) span.up-1,
      div:nth-child(4) span.up-2,
      div:nth-child(5) span.up-3 {
        transform: translateY(120%);
        opacity: 1 !important;
      }

      div {
        span:nth-of-type(1) {
          transition-delay: 0.08s;
        }
        span:nth-of-type(2) {
          transition-delay: 0.11s;
        }
        span:nth-of-type(3) {
          transition-delay: 0.14s;
        }
        span:nth-of-type(4) {
          transition-delay: 0.17s;
        }
        span:nth-of-type(5) {
          transition-delay: 0.2s;
        }
        span:nth-of-type(6) {
          transition-delay: 0.23s;
        }
        span:nth-of-type(7) {
          transition-delay: 0.26s;
        }
        span:nth-of-type(8) {
          transition-delay: 0.29s;
        }
        span:nth-of-type(9) {
          transition-delay: 0.32s;
        }
        span:nth-of-type(10) {
          transition-delay: 0.35s;
        }
        span:nth-of-type(11) {
          transition-delay: 0.38s;
        }
        span:nth-of-type(12) {
          transition-delay: 0.41s;
        }
      }
    }
  }
  .extra-container {
    position: absolute;
    height: 400px;
    width: 100%;
  }
  .tag.is-primary {
    background: $blueColor !important;
    border-radius: 12px;
    padding: 0 14px;
    font-weight: bold;
  }
  .box.is-special {
    border: 2px solid $borderColorLight;
    height: 100%;
    padding-top: 20px !important;
    border-radius: 5px;
    font-family: $fontFamilySpecial2;
    color: var(--color);
    .icon {
      width: 120px;
      height: 120px;
    }
    p {
      font-size: 1.05rem;
    }
    &:hover {
      text-decoration: none;
      border-color: $borderColor;
      h1 {
        color: $secondaryColor;
      }
    }
  }
  .hero-springone {
    height: 440px;
    background: url("/img/springone.svg");
    background-size: cover;
    background-position: center;
    h1 {
      line-height: 3.5rem;
      font-size: 3.5rem;
      padding: 18px 0;
      animation: scaleText 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
      text-align: center;
      span {
        display: inline-block;
        opacity: 0;
        filter: blur(4px);
      }
      span:nth-child(1) {
        animation: fadeInText 0.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(2) {
        animation: fadeInText 0.5s 0.15s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(3) {
        animation: fadeInText 0.5s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(4) {
        animation: fadeInText 0.5s 0.25s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(5) {
        animation: fadeInText 0.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(6) {
        animation: fadeInText 0.5s 0.35s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(7) {
        animation: fadeInText 0.5s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(8) {
        animation: fadeInText 0.5s 0.45s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(9) {
        animation: fadeInText 0.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(10) {
        animation: fadeInText 0.5s 0.55s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-child(11) {
        animation: fadeInText 0.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
    }
    .springone-text {
      opacity: 0;
      filter: blur(4px);
      animation: fadeInText 0.2s 1s forwards cubic-bezier(0.2, 0, 0.5, 0);
    }
  }
  .features {
    max-width: 1250px;
    margin: 0 auto;
  }
  .testimony {
    max-width: 1000px;
    margin: 0 auto;
    color: $secondaryContrastColor;
    text-align: center;
    .testimony-text {
      font-family: $fontFamilySpecial;
      font-weight: 500;
      line-height: 2.3rem;
    }
    .testimony-quote {
      width: 70px;
    }
    .testimony-author {
      color: $color;
      position: relative;
      display: inline-block;
      text-align: left;
      padding-left: 80px;
      img {
        position: absolute;
        height: 60px;
        border-radius: 30px;
        top: 0;
        left: 0;
      }
    }
  }

  .code {
    max-width: 1100px;
    margin: 0 auto;
    .terminal {
      color: #fff;
      padding: 70px 55px;
      font-size: 15px;
      position: relative;
      box-shadow: 0 8px 15px 0 rgb(0 0 0 / 20%);
      background: #191e1e;
      border-radius: 5px;
      code[class*="language-"],
      pre[class*="language-"] {
        font-size: 12px;
        padding: 0;
        margin: 0;
        background-color: #191e1e;
        color: white;
        border: 0 none;
        text-shadow: none;
        font-size: 0.9rem;
      }
    }
  }

  .extra-left {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    position: absolute;
    top: -110px;
    left: -100px;
  }
  .extra-right {
    height: 600px;
    width: 600px;
    position: absolute;
    top: -110px;
    right: -100px;
  }
  .relative {
    position: relative;
  }
  .square {
    height: 300px;
    width: 300px;
    position: absolute;
    background: white;
    top: 300px;
    right: 0;
    opacity: 0;
    animation: fadeIn 0.3s ease-out 0.6s forwards;
  }
  .semicircle {
    width: 600px;
    height: 300px;
    border-radius: 0 0 300px 300px;
    position: absolute;
    top: 300px;
    left: 0;
    opacity: 0;
    transform-origin: top center;
    background: white;
    transform: rotate(-140deg);
    animation: fadeIn 0.3s ease-out 0.6s forwards;
  }
  .quarter-circle1 {
    width: 300px;
    height: 300px;
    opacity: 0;
    background: #80ea6e;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom right;
  }
  .quarter-circle2 {
    width: 300px;
    height: 300px;
    opacity: 0;
    background: #6db33f;
    border-radius: 0 100% 0 0;
    position: absolute;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    top: 0;
    right: 0;
  }
  .extra-left .quarter-circle1 {
    transform: rotate(-140deg);
    animation: fadeIn 0.4s ease-out 0.2s forwards;
  }
  .extra-left .quarter-circle2 {
    transform: rotate(-140deg);
    animation: fadeIn 0.4s ease-out 0.4s forwards;
  }
  .extra-right .quarter-circle1 {
    animation: fadeIn 0.4s ease-out 0.2s forwards;
  }
  .extra-right .quarter-circle2 {
    animation: fadeIn 0.4s ease-out 0.4s forwards;
  }
  .features {
    .feature {
      opacity: 0;
    }
    &.visible {
      .feature {
        animation: riseUp 0.5s forwards ease, fadeIn 0.7s forwards ease;
      }
    }
    .feature:first-child {
      animation-delay: 0s;
    }
    .feature:nth-child(2) {
      animation-delay: 0.15s;
    }
    .feature:nth-child(3) {
      animation-delay: 0.3s;
    }
    .feature:nth-child(4) {
      animation-delay: 0.45s;
    }
    .feature:nth-child(5) {
      animation-delay: 0;
    }
    .feature:nth-child(6) {
      animation-delay: 0.15s;
    }
    .feature:nth-child(7) {
      animation-delay: 0.3s;
    }
  }
}
