// Layout

html,
body {
  font-family: $fontFamily;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $fontFamilySpecial;
}

body,
code,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--color);
}

table {
  caption-side: bottom;
  caption {
    text-align: left;
    text-rendering: optimizeLegibility;
    font-style: italic;
  }
}

.main {
  line-height: 1.7rem;
  a {
    color: $linkColor;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  border-bottom: 1px solid $backgroundLight;
  z-index: 999;
}

.navbar-social {
  background-color: transparent;
  margin: 0 6px;
  a.button {
    color: $color;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    width: 40px;
    height: 40px;
    margin: 10px 4px;
    font-size: 22px;
    &:hover {
      background-color: transparent;
      color: $secondaryColor;
    }
    svg {
      width: 26px;
      height: 26px;
    }
  }
}

.footer {
  border-top: 1px solid $backgroundLight;
  .links {
    .item {
      padding: 4px 0;
      a {
        color: $color;
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
  .more {
    font-size: 0.8rem;
    a {
      color: $color;
      &:hover {
        color: $linkColor;
        text-decoration: underline;
      }
    }
    .social-links {
      text-align: right;
      min-width: 200px;
      a.button {
        color: $colorInverse;
        padding-left: 0;
        padding-right: 0;
        width: 40px;
        height: 40px;
        margin: 0 8px;
        font-size: 22px;
        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
  .newsletter {
    width: 400px;
    margin-left: auto;
    label.checkbox {
      padding-left: 30px;
      font-size: 0.9rem;
      color: $colorLight;
      input {
        margin-right: 10px;
        margin-left: -25px;
        vertical-align: middle;
      }
    }
  }
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

.show {
  display: block;
}

q {
  font-family: Metropolis, sans-serif;
  font-weight: 500;
  line-height: 36px;
}

// Nav Menu
.navbar-mobile {
  position: fixed;
  background: white;
  height: 40px;
  top: 0;

  border-bottom: 1px solid $backgroundLight;
  .navbar-burger {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 999;
  }
  .item-header {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    height: 60px;
    margin: 1rem 0;
  }
  .item-link,
  a.item-link {
    font-size: 1.2rem;
    padding: 0.2rem 0;
    color: #98afae;
  }
  .logo {
    width: 200px;
  }
  a.item-header {
    color: white;
    &:hover {
      color: $secondaryColor;
    }
  }
  .item-link {
    &:hover {
      color: $secondaryColor;
    }
  }
}
.is-open {
  .navbar-burger {
    color: white;
  }
}

.wrapper {
  background: #191e1e;
  position: fixed;
  z-index: 199;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper-enter {
  top: -100%;
}

.wrapper-enter-active {
  transform: translateY(100%);
  transition: transform 500ms;
}

.wrapper-exit {
  top: 0;
}

.wrapper-exit-active {
  transform: translateY(-100%);
  transition: transform 500ms;
}

.navbar-brand {
  padding: 0;
}

.logo {
  width: 300px;
}

a.link-animate,
.links-animate a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a.link-animate:before,
.links-animate a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 8px;
  left: 0;
  background-color: #086dc3;
  visibility: hidden;
  transform-origin: top left;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.link-animate:hover:before,
a.link-animate:focus:before,
.links-animate a:hover:before,
.links-animate a:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.links-animate a:before {
  bottom: 2px;
}

.is-link.link-animate {
  &:before {
    bottom: 0px;
  }
}

.theme-toggler {
  display: inline-block;
  height: 10px;
  width: 36px;
  background: #d7e7e7;
  align-self: center;
  position: relative;
  border-radius: 5px;
  font-size: 13px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  input {
    opacity: 0;
  }
  .moon {
    display: none;
  }
  span.text {
    display: block;
    overflow: hidden;
    text-indent: -6000em;
    background-color: transparent;
  }
  span.icon {
    $s: 24px;
    position: absolute;
    top: -7px;
    left: -1px;
    display: block;
    background: black;
    color: white;
    width: $s;
    height: $s;
    border-radius: 12px;
    transition: left 0.5s;
    .moon {
      margin-left: 7px;
      margin-top: 5px;
    }
    .sun {
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}

.img-light {
  display: inline-block;
}

.img-dark {
  display: none !important;
}

.image .ico .play-button {
  position: relative;
  top: 2px;
  left: 2px;
}

.skip-to-main-content {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.footer .links .item.footer-link a {
  color: #616161;
  &:hover {
    color: $secondaryColor;
  }
}

.logo {
  .st0 {
    fill: #1ba89c;
  }
  .st1 {
    fill: #117a71;
  }
  .st2 {
    fill: #343a40;
  }
}

.icon-img {
  max-height: 100px;
  display: block;
  margin: 1rem auto 0;
}

.markdown .h2-special {
  background-color: $secondaryColor;
  color: white;
  padding: 0.4rem 0.7rem;
  margin: 0rem 0 1rem;
  display: inline-block;
  font-size: 20px;
}
