@media screen and (max-width: 1024px) {
  .default-banner,
  .main {
    .container {
      padding: 0 2rem;
    }
  }
  .header {
    border-bottom: 0;
  }
  .team {
    .container {
      padding-right: 2rem !important;
    }
    .team-content {
      display: inline;
    }
    .list .column {
      clear: both;
    }
    .member {
      margin-right: 0 !important;
    }
  }

  /* Newsletter form */
  .footer .newsletter {
    margin-left: 0;
    width: 100%;
  }

  .navbar .navbar-icon,
  .springone-banner {
    display: none;
  }
  .sm-no-padding {
    padding: 0 !important;
  }
}

/* Mobile only */
@media screen and (max-width: 767px) {
  .tabs {
    width: 100%;
  }
}
