@media screen and (max-width: 1024px) {
  .default-banner,
  .main {
    .container {
      padding: 0 2rem;
    }
  }
  .header {
    border-bottom: 0;
  }
  .team {
    .container {
      padding-right: 2rem !important;
    }
    .team-content {
      display: inline;
    }
    .list .column {
      clear: both;
    }
    .member {
      margin-right: 0 !important;
    }
  }

  /* Newsletter form */
  .footer .newsletter {
    margin-left: 0;
    width: 100%;
  }

  .navbar .navbar-icon,
  .springone-banner {
    display: none;
  }

  #newsletter-blog button.mktoButton,
  #newsletter-footer button.mktoButton {
    padding: 6px 15px !important;
  }

  /* Why Spring */
  .why-spring {
    .hero-why {
      height: 600px;
      .extra {
        top: 200px;
        width: 100%;
      }
      .content {
        width: auto;
        h1 {
          padding-top: 40px;
          font-size: 3rem;
        }
      }
    }
    .testimony {
      margin-top: 0;
      .extra-0 {
        display: none;
      }
      .testimony-text {
        font-size: 1.2rem !important;
      }
      .testimony-author {
        font-size: 0.9rem;
      }
    }
  }

  /* Blog posts */
  .blog {
    .featured-post {
      .blog-post {
        padding: 1rem !important;
      }
    }
    .blog-post h1 {
      font-size: 2.375rem !important;
      margin-top: 0;
    }
    .secondary-nav {
      display: block;
      .is-link {
        display: block;
      }
      .blog-rss-category {
        display: flex;
      }
    }
  }

  /* Microservice */
  .microservices,
  .reactive,
  .event-driven,
  .cloud,
  .webapplications,
  .serverless,
  .batch {
    .extra-0 img {
      width: 700px;
      max-width: none;
    }
    .hero-microservices,
    .hero-reactive,
    .hero-event-driven,
    .hero-cloud,
    .hero-webapplications,
    .hero-serverless,
    .hero-batch {
      padding: 0;
      padding-bottom: 10px !important;
      .description {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 0;
        padding-bottom: 2rem;
      }
      .image {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin: 20px auto;
        display: block;
        width: 200px;
      }
    }
  }
  .hero-microservices h1 {
    word-break: break-all;
  }
  .reactive {
    .extra-0 img {
      width: 1300px;
      margin-left: -400px;
      max-width: none;
    }
  }
  .event-driven,
  .serverless,
  .batch {
    .extra-0 img {
      width: 1300px;
      margin-left: -800px;
      max-width: none;
    }
    .hero-event-driven,
    .hero-serverless,
    .hero-batch {
      .description {
        min-height: auto;
        padding-bottom: 30px;
      }
      .columns {
        .column {
          padding: 10px !important;
        }
      }
    }
  }
  .guides {
    .hero-guides {
      .content {
        height: auto;
        padding: 0;
      }
      .links,
      .image {
        position: relative;
        top: auto;
        left: auto;
        margin: 0 auto;
      }
      .image {
        padding-top: 20px;
        width: 150px;
      }
      .description {
        font-size: 1.3rem;
      }
      h1 {
        padding-top: 25px;
      }
    }
  }
  .projects {
    .hero {
      .description {
        font-size: 1.3rem;
      }
    }
  }
  .project {
    .project-sidebar {
      display: none;
    }
    .project-content {
      padding: 0 !important;
      h1 {
        line-height: 3rem;
      }
      .content {
        max-width: 100% !important;
      }
    }
  }
  .training {
    .hero {
      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
      .description {
        font-size: 1.3rem;
        margin-top: 1rem;
      }
    }
  }
  .community {
    .community-projects,
    .socials {
      padding: 20px 20px 0 !important;
      margin: 0 !important;
    }
    .event {
      padding: 0 10px 10px;
    }
  }
  .report {
    margin-bottom: 2rem;
  }
  pre {
    code {
      padding: 20px 0 !important;
    }
  }
  .community {
    .youtube {
      width: auto;
    }
  }
  #newsletter-footer {
    form {
      width: 100% !important;
    }
    .mktoButtonRow {
      position: static;
    }
  }

  .consulting, .solutions, .support {
    .extra-0 {
      display: none;
    }
    .hero-content {
      margin: 0;
      padding-right: 0;
    }
  }
  .solutions .hero .hero-content {
    padding-right: 0;
    text-align: center;
  }
}

/* Mobile only */
@media screen and (max-width: 767px) {
  .home .hero-home h1 {
    font-size: 3rem;
    line-height: 2.6rem;
  }

  .guide .ascii-doc {
    .paragraph {
      p > code {
        white-space: pre-wrap;
      }
    }
  }

  .tabs {
    width: 100%;
  }

  .blog-rss-category {
    .is-link {
      font-size: 12.25px;
    }
  }

  .default-banner > .content {
    padding: 0 !important;
  }

  .home {
    .divider {
      display: none;
    }
    .hero-springone {
      height: auto;
      h1 {
        font-size: 2rem;
        line-height: 2.25rem;
      }
      .springone-text {
        margin-bottom: 40px;
      }
    }
    .features {
      h1 {
        line-height: 2.5rem;
        font-size: 2rem !important;
        margin-bottom: 1rem !important;
      }
      .feature {
        .icon {
          width: 100px;
        }
        .box.is-special {
          padding: 20px !important;
          padding-top: 10px !important;
        }
        h1 {
          font-size: 1.6rem !important;
          margin-bottom: 0 !important;
        }
      }
    }
    .code {
      > .columns > .pr-6 {
        padding-right: 0 !important;
      }
      .terminal {
        padding: 30px 25px;
      }
    }

    .terminal {
      pre code {
        padding: 0 !important;
      }
      &.visible {
        .typed-placeholder {
          display: block;
          // letter-spacing: 0.15em; /* Adjust as needed */
          animation: typing 5s steps(44, end);
        }
      }
    }

    .testimony .testimony-text {
      font-size: 1.4rem !important;
    }
  }

  #newsletter-footer .mktoForm .mktoCheckboxList,
  #newsletter-footer .mktoForm .mktoRadioList,
  #newsletter-footer button.mktoButton,
  #newsletter-blog button.mktoButton,
  .mktoForm .mktoButtonRow,
  .mktoFieldDescriptor {
    width: 100% !important;
  }

  #newsletter-footer .mktoForm .mktoCheckboxList,
  #newsletter-footer .mktoForm .mktoRadioList {
    width: 99%;
  }

  #newsletter-footer .mktoForm .mktoCheckboxList {
    max-width: 100% !important;
  }

  .mktoForm .mktoCheckboxList > label {
    line-height: 1.6em !important;
  }

  #newsletter-footer form {
    padding: 0 !important;
  }

  #newsletter-footer .mktoButtonRow,
  #newsletter-blog .mktoButtonRow {
    position: static;
  }
  .blog-sidebar {
    margin-bottom: 2rem;
    max-width: -moz-fit-content !important;
    max-width: fit-content !important;
    form {
      max-width: -moz-fit-content !important;
      max-width: fit-content !important;
    }
  }

  .project h1.project-title {
    padding-right: 0;
    .social-links {
      position: relative;
      right: auto;
      top: auto;
      display: block;
    }
  }
  .blog {
    .secondary-nav {
      display: block;
      margin-left: 0 !important;
      padding: 10px 0;
    }
    .blog-nav-rss {
      float: none;
    }
    .dropdown.is-right .dropdown-menu {
      right: auto;
    }
  }
}

/* Tablets only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .community {
    .container {
      padding-left: 6rem !important;
    }
  }
  .project {
    .container {
      padding-right: 2rem !important;
    }
    .project-content {
      width: 100%;
    }
  }
  .mktoForm .mktoRadioList,
  .mktoForm .mktoCheckboxList {
    max-width: 170px;
    width: auto !important;
  }
  #newsletter-blog {
    input#Email,
    button {
      width: 100% !important;
    }
  }
}

/* Low resolutions screens (not mobile) */
@media screen and (min-width: 1025px) and (max-width: 1405px) {
  #newsletter-blog button.mktoButton,
  #newsletter-footer button.mktoButton {
    padding: 6px 15px !important;
  }
  #newsletter-blog input#Email,
  #newsletter-blog button {
    width: 100% !important;
  }
  .mktoForm .mktoRadioList,
  .mktoForm .mktoCheckboxList {
    max-width: 170px;
    width: auto !important;
  }
}
